@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.activities-page--container {
    background: url(/src/assets/images/background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.activities-page-title {
    color: $white;
    font-size: 4rem;
    position: fixed;
    left: 4rem;
    top: 3.5rem;
}

.activities-page-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    padding-top: 13rem;
    padding-bottom: 15rem;
}


.activity-card {
    display: flex;
    align-items: center;
    flex-direction: column;


    &--image {
        height: 10rem;
        padding-bottom: 1rem;
    }

    &--title {
        color: $white;
    }
}

.activities-country-collage {
    position: fixed;
    bottom: 0;
    max-height: 22%;
    &--container {
        display: flex;
        justify-content: center;
    }
}