@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.activities-page--container {
  background: url(/src/assets/images/background.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.activities-page-title {
  color: $white;
  font-size: 4rem;
  position: fixed;
  left: 4rem;
  top: 3.5rem;
}

.activities-page--navigation {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  position: fixed;
  top: 6rem;
  right: 5rem;
}

.activities-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
  padding-top: 12rem;
  padding-bottom: 10rem;
}

.activity-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  &--image {
    height: 10rem;
    padding-bottom: 1rem;
  }

  &--title {
    color: $white;
  }
}

.activeEnv {
  opacity: 1;
}
.inActiveEnv {
  opacity: 0.6;
}

.activities-page-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
  padding-bottom: 2rem;
}

.instruction {
  color: $white;
  font-size: 1.2rem;
  opacity: 0.7;
}

.activities-country-collage {
    position: fixed;
    bottom: 0;
    left: -8rem;
    max-height: 22%;
    min-width: 100%;
    transition: transform 0.3s ease;
    cursor: grab;
  }
  
  .activities-country-collage--container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
  
  .activities-country-collage:hover {
    cursor: grabbing;
    transform: translateX(-30px); /* Adjust the value to control the distance of the movement */
  }
  

.next-button--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18rem;
}

.next-button {
  background-color: $normal-blue;
  color: white;
  height: 64px;
  width: 180px;
  border: none;
  box-sizing: border-box;
  padding: 1rem;
}
